*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1190px;
    margin: 0 auto;
}

.product-con {
    display: grid;
    grid-template-columns: repeat(6,    1fr);
}
.product img {
    width: 100%;
}
